{% extends "base/base.html" %}
{% load static %}

{% block title %}Courses - UpSkillers{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">All Courses</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="{% static 'images/coding.jpg' %}" style="height: 200px; object-fit: cover"  class="card-img-top" alt="Coding">
                <div class="card-body">
                    <h5 class="card-title">Coding & Programming</h5>
                    <p class="card-text">Learn Python, JavaScript, and more.</p>
                    <a href="{% url 'register' %}" class="btn btn-primary">View Course</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="{% static 'images/cooking.jpg' %}" style="height: 200px; object-fit: cover" class="card-img-top" alt="Cooking">
                <div class="card-body">
                    <h5 class="card-title">Cooking & Culinary Arts</h5>
                    <p class="card-text">Master the art of cooking delicious dishes.</p>
                    <a href="{% url 'register' %}" class="btn btn-primary">View Course</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="{% static 'images/speaking.jpg' %}" style="height: 200px; object-fit: cover" class="card-img-top"  alt="Speaking Skills">
                <div class="card-body">
                    <h5 class="card-title">Public Speaking</h5>
                    <p class="card-text">Improve your communication skills.</p>
                    <a href="{% url 'register' %}" class="btn btn-primary">View Course</a>
                </div>
            </div>
        </div>


{% endblock %}
